* { margin: 0; padding: 0; }
body 
{ 
  background: url(trippy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pictures img { width: 200px; }
.pictures li { display: table; float: left; margin: 20px; }
.pictures li:nth-child(4n+1) { clear: both; }