* { margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }

.songs { width: 650px; padding: 25px 0; color: #DC143C; background: #6495ED; no-repeat scroll center center; }
.songs > ol { width: 75%; margin: 0 auto; }
.songs > ol > li { padding: 10px; }
.songs > ol > li > a { display: inline; overflow: visible; }
.songs > ol > li > a > .title { float: left; }
.songs > ol > li > a > .duration { float: right; }
.songs > ol > li > a > .dots { display: block; height: 1em; overflow: visible; border-bottom: 1px dotted #DC143C; }

.songs .footer { margin: 15px; text-align: center; }